.layout {
  &_header {
    // background-color: #76bcff;
    // background-color: #5a81ffb3;
    // background-color: $orange_point;
    background-color: #03112b;
    border-bottom: 1px solid $blue_alpha01;
    // box-shadow: 1px 1px 7px 0px $gray_alpha03;
    height: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
  &_contents {
    overflow: auto;
    position: absolute;
    top: 4rem;
    right: 0;
    bottom: 0;
    width: calc(100vw - 18rem);
    z-index: 0;
  }
  &_lnb {
    border-right: 1px solid $blue_alpha01;
    padding: 1rem;
    position: fixed;
    top: 4rem;
    bottom: 0;
    left: 0;
    width: 18rem;
    z-index: 1;
  }
  &_footer {
    // border-top: 1px solid $blue_alpha01;
    // border-right: 1px solid $blue_alpha01;
    padding-left: 1rem;
    position: fixed;
    top: calc(100vh - 7rem);
    bottom: 0;
    left: 0;
    width: 18rem;
    z-index: 1;
    &.wrap__footer {
      // background-color: $blue_alpha02;
      display: flex;
      flex-direction: column;
      font-size: .8rem;
      font-weight: 300;
      line-height: 1.2rem;
      justify-content: space-around;
    }
  }
}

@media (max-width: 575.98px) {  }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {  }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
  
}
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
  .layout {
    &_contents {
        .main_body {
          flex-direction: column;
          max-width: 60rem;
        }
      }
    }
}  

// Large devices (desktops, less than 1440px)
@media (max-width: 1439.98px) {
  .layout {
    &_contents {
      width: calc(100vw - 6rem);
      .main_body {
        flex-direction: column;
        max-width: 60rem;
      }
    }
    &_lnb {
      width: 6rem;
    }
    &_footer {
      padding: .8rem;
      width: 6rem;
    }
  }
}  

@media (min-width: 1439.99px) {
  .layout {
    &_contents {
        .main_body {
          flex-direction: row;
          justify-content: space-around;
          min-width: 80rem;
        }
      }
    }
}  