.layout {
  &_header {
    position: absolute;
    top: 0;
    right: 0;
    left: 20rem;
    height: 3rem;
    border-bottom: 1px solid #c0ddff;
  }
  &_contents {
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: calc(100vw - 20rem);
    z-index: 0;
  }
  &_lnb {
    border-right: 1px solid #c0ddff;
    padding: 1rem;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20rem;
    z-index: 1;
  }
  .footer {
    border-top: 1px solid #c0ddff;
  }
}

@media (max-width: 575.98px) {  }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {  }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {  }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }  

// Large devices (desktops, less than 1440px)
@media (max-width: 1439.98px) {
  .layout {
    &_contents {
      width: calc(100vw - 6rem);
    }
    &_lnb {
      width: 6rem;
    }
  }
}  