.modal_wrap {
  align-items: center;
  background-color: $gray_alpha_type_modal_bg_02;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.modal {
  background-color: $white;
  border-radius: $border_radius;
  color: #000000;
  left: 50%;
  position: fixed;
  top: 50%;
  -webkit-border-radius: $border_radius;
  -moz-border-radius: $border_radius;
  -ms-border-radius: $border_radius;
  -o-border-radius: $border_radius;

  &_title{
    border-bottom: 1px solid $gray_border;
    color: #000000;
    height: 3rem;
    font-size: 1.2rem;
    font-weight:400;
    padding: 0.5rem 0 0 1rem;
  }
  &_contents {
    height: calc(100% - 3rem);
  }
}
.icon_close {
  position: absolute;
  left: 31.4rem;
  top: 0.1rem;
}