* {
  box-sizing: border-box;
}

html {
  // font-size: 10px;
  background-color: $blue_bg;
  font-size: 0.9rem;
  line-height: 2rem;
}

body {
  font-family: 'Noto Sans KR';
  font-weight: 300;
}

button {
  // all: unset;
  border: 1px solid $gray_border;
  border-radius: 2px;
  padding: 0.5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

a {
  &:link {
    color: $font_color;
    text-decoration: unset;
  }
  &:visited {
    color: $font_color;
  }
  &:hover {
    color: $font_color;
  }
  &:active {
    color: $font_color;
  }
}
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  background: transparent;
  box-shadow: none;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: $blue_lightest;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: $blue_lightest;
}