// * LAYOUT
$lnb_width: 20rem;

// * DETAIL
$border_radius: 3px;

// * COLOR
$white : #ffffff;
$white_alpha01 : rgba(255,255,255,0.3);

$black: #000000;
$gray01 : #f4f5f5;
$gray02 : #e0e0df;
$gray03 : #bdbcbc;
$gray04 : #757575;
$gray05 : #333333;
$gray_alpha01 : rgba(255, 255, 255, 0.8);
$gray_alpha02 : rgba(255, 255, 255, 0.6);
$gray_alpha03 : rgba(240, 240, 240, 0.3);
$gray_alpha_type_modal_bg_01: rgba(144, 144, 144, 0.5);
$gray_alpha_type_modal_bg_02: rgba(144, 144, 144, 0.25);
$gray_alpha_type_modal_bg_03: rgba(144, 144, 144, 0.1);
$gray_alpha_type_modal_bg_05: rgba(100, 100, 100, 0.1);
$gray_border: #dddddd;

$blue_bg: #0f1333;
$blue_normal: #2d519f;
// $blue_normal: #5a81ff;
$blue_light: #81a8e3;
$blue_lightest: #c0ddff;
$blue_alpha01: rgba(192, 221, 255, 0.5);
$blue_alpha02: rgba(192, 221, 255, 0.3);

$pink_light: #e684ff;
$pink_normal: #e15cff;

$orange_light: #ff915c;
$orange_point: #ffbd71;
$orange_point_alpha01: #ffbd71b3;


$pattern_diagonal_line: repeating-linear-gradient(-45deg, $gray_alpha_type_modal_bg_05, $gray_alpha_type_modal_bg_05 8px, transparent 0, transparent 20px);

// * FONT STYLE
$title_01: 1.5rem;
$title_02: 1.1rem;