.date_picker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  input[type='text'] {
    height: 1rem;
  }
  &_modal_wrapper {
    // position: relative;
    // top: -1.3rem;
    // left: 11rem;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // z-index: 2;
  }
  &_modal {
    padding: 1rem;
    padding-bottom: 0;
    color: #000000;
    div.month_name {
      align-items: center;
      // color: $blue_normal;
      display: flex;
      font-weight: 700;
      justify-content: space-around;
      margin-bottom: 1rem;

      .prev, .next {
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          //fill: $blue_normal;
          transform:scale(0.7, 0.7);
          -webkit-transform:scale(0.7, 0.7);
          -moz-transform:scale(0.7, 0.7);
          -ms-transform:scale(0.7, 0.7);
          -o-transform:scale(0.7, 0.7);
}
      }
    }
    div.week_row {
      display: flex;
      justify-content: space-between;
    }
    div.date_rowNcol {
      margin-bottom: 1rem;
      .date_week_row {
        display: flex;
        justify-content: space-between;
        .date_date_cell {
          font-weight: 400;
          height:1.5rem;
          line-height:1.5rem;
          margin: .2rem;
          text-align: center;
          width:1.5rem;

          &.has_data {
            cursor: pointer;
          }

          &.today {
            border: 1px solid $blue_normal;
            border-radius: 50%;
            font-weight: 500;
            font-size: 80%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;

            &:after {
              content: 'Today';
              // color: $blue_normal;
              display: block;
              position: relative;
              left: -.4rem;
              width: 2rem;
            }
          }

          &.active {
            background-color: $blue_normal;
            border-radius: 50%;
            color: $white;
            font-weight: 500;
            font-size: 80%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
          }
        }
      }
    }
    div.buttons {
      display: flex;
      justify-content: space-around;
    }
  }
}