.comp_lnb {
  align-items: center;
  background-color: $blue_bg;
  display: flex;
  flex-direction: column;

  .account_info {
    border: 1px solid $blue_light;
    color: $white;
    display: flex;
    margin-bottom: 1.5rem;
    padding: 1rem;
    position: relative;
    width: 100%;
    .user {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 0.4rem;
      padding-right: 0.8rem;
      border-right: 1px solid $blue_light;
      
      &_img {
        border: 1px solid $blue_light;
        // border-radius: 50%;
        height: 2rem;
        margin-bottom: 0.2rem;
        width: 2rem;
        > div {
        align-items: center;
        display: flex;
        justify-content: center;

        }
      }
      &_name {
        width: 4rem;
        overflow: hidden;
        text-align: center;
        word-wrap: break-word;
      }
    }
    .card_style {
      position: absolute;
      top: 1.2rem;
      left: 0.8rem;
      > div {
        width: 0.6rem;
        height: 0.6rem;
      }
  
      &_red {
        margin-bottom: 0.3rem;
        background-color: #b6b6dc;
      }
  
      &_blue {
        background-color: #7dafee;
      }
    }
    .building {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 1rem;
      > div {
        width: 8rem;
        overflow: hidden;
        word-wrap: break-word;
      }
  
      &_name {
        margin-bottom: 0.5rem;
      }
    }
  }
  .today_summary {
    margin-bottom: 1rem;
    width: 100%;
  }
  .add {
    background-color: $white;
    border: 1px solid $white;
    border-radius: 0.2rem;
    color: #000000;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    padding: 0.4rem;
    width: 100%;
  }
  .service_nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    &_item {
      align-items: center;
      cursor: pointer;
      display: flex;
      padding: .5rem;

      svg {
        fill: $blue_light;
      }

      .icon {
        margin-right: 1rem;
      }
    }
  }
}

@media (max-width: 1439.98px) {
  .comp_lnb {
    .account_info {
      margin-bottom: 1rem;
      padding: 0;
      .user {
        border-right:initial; }
    }
    .add {
      all: unset;
      align-items: center;
      background-color: $white;
      border-radius: 50%;
      display: flex;
      fill: $blue_normal;
      height: 3rem;
      justify-content: center;
      margin: 0 0 1rem 0;
      width: 3rem;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;

      span {
        align-items: center;
        display: flex;
      }
    }

    .service_nav {    
      justify-content: center;
      &_item {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 0 0 1rem 0;

        .icon {
          margin-right: initial;
        }
        span {
          display: none;
        }
      }
    }
  }
}
