.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  .calendar_wrapper {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  .main_body {
    display: flex;
    margin-bottom: 1.5rem;
    .main_right {
      .main_chart_floor {
        display: flex;
        &_chart {
          margin-right: 0.5rem;
        }
        &_card {
          &_item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 15rem;
          }
          .card_contents_floor {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .info_my_floor {
              background-color: $orange_point;
              color: $black;
              height: 1.2rem;
              line-height: 1.2rem;
              font-size: .8rem;
              font-weight: 500;
              padding: 0 1rem 0 1rem;
            }
          }
          .card_contents_report {
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
    .main_left {
    }
  }
  .footer {
    background-color: $blue_bg_header;
    border-top: 1px solid $blue_alpha03;
    padding: .5rem;
    padding-left: 1rem;
    text-align: center;
    width: 100%;
    &.wrap__footer {
      // background-color: $blue_alpha02;
      font-size: .8rem;
      font-weight: 300;
    }
  }
}